<!DOCTYPE html>
<html>
<head>
  <title>Q&A App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <% if (currentUser) { %>
    <p>Prijavljen kot <%= currentUser.username %> | <a href="/users/logout">Odjava</a></p>
  <% } else { %>
    <a href="/users/login">Prijava</a> | <a href="/users/register">Registracija</a>
  <% } %>
  <hr>
  <%- body %>
</body>
</html>