<% layout('layout') -%>
<h2>Prijava</h2>
<form method="post" action="/users/login">
  <label>Uporabniško ime:</label><br>
  <input type="text" name="username"><br>
  <label>Geslo:</label><br>
  <input type="password" name="password"><br>
  <button type="submit">Prijava</button>
</form>
