<% layout('layout', { title: 'Prijava' }) %>

<h2>Prijava</h2>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Uporabniško ime" required>
  <input type="password" name="password" placeholder="Geslo" required>
  <button type="submit">Prijava</button>
</form>
