<% layout('layout', { title: 'Vsa vprašanja' }) %>

<h2>Vsa vprašanja</h2>
<ul>
  <% questions.forEach(q => { %>
    <li>
      <a href="/questions/<%= q._id %>"><%= q.title %></a> (od <%= q.author.username %>)
    </li>
  <% }) %>
</ul>
